body {
  background-color: #2B2D42;
}

.sub {
  color: #EDF2F4;
}

h1 {
  color: #EF233C;
}


h3 {
  color: #EF233C;
  font-size: 20px;
}

p,
li {
  color: #EDF2F4;
}

ul {
  list-style-type: circle;
}

a {
  color: #abb4c3;
}

hr {
  color: #D80032
}
